body {
  background-color:floralwhite;
}

input{
    width: 100px!important;
    height: 100px!important;
    border-radius: 10px;
    font-size: 25px;
    color: brown;
    background-color: black;
    font-family: 'Rye', cursive;
  
font-family: 'Shojumaru', cursive;
}
.container{
    position: absolute;
    top: 150px;
    left: 450px;
}

.head{
    font-family: 'Rye', cursive;
  
font-family: 'Shojumaru', cursive;
    font-size: 40px;
    position: absolute;
    left: 460px;
    top: 50px;
    color: brown;
   
}